#forward-button {
	/*transform: none !important;
	opacity: 1 !important;
	pointer-events: auto !important;
	transition: none !important;
	visibility: visible !important;*/
	width: unset;

	margin: 4px 2px;
	-moz-margin-start: -5px;
	border: 1px solid rgba(146, 146, 146, 0.84) !important;
	-moz-border-start-style: none !important;
	border-radius: 0 3px 3px 0;
	padding: 0 2px 0 4px;
	-moz-padding-start: 0;

	background: none !important;
}
#forward-button[disabled="true"] {
	border-color: rgba(0, 0, 0, 0.2) !important;
}
#reload-button,
#stop-button {
	list-style-image: url("chrome://browser/skin/Toolbar.png");
}
toolbar[brighttext] #reload-button,
toolbar[brighttext] #stop-button {
	list-style-image: url("chrome://browser/skin/Toolbar-inverted.png");
}
#reload-button {
	-moz-image-region: rect(0px, 90px, 18px, 72px);
}
#stop-button {
	-moz-image-region: rect(0px, 108px, 18px, 90px);
}
#reload-button:not([displaystop]) + #stop-button,
#reload-button[displaystop] {
	visibility: collapse;
}
#reload-button:not(:hover) > .toolbarbutton-icon,
#stop-button:not(:hover) > .toolbarbutton-icon,
#home-button:not(:hover) > .toolbarbutton-icon {
	border-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;
}
#urlbar-wrapper {
	clip-path: none !important;
	margin: 0 !important;
}
#urlbar {
	margin-left: 3px !important;
	border-radius: 2px !important;
	transition: none !important;
}
#urlbar-reload-button,
#urlbar-stop-button {
	visibility: collapse;
}
